@model nTier_RepositoryPattern.Entity.Book
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Book Create</h1>
     <form method="post">
         <div>
            <input type="text" asp-for="Name" placeholder="Name" required="" class="form-control" />

         </div>

         <div>

            @Html.DropDownListFor(m => m.AuthorId, (List<SelectListItem>)ViewBag.vls, new { @class = "form-control" })


         </div>



         <button type="submit" class="btn btn-primary">Create</button>
     </form>
</div>

