@model List<nTier_RepositoryPattern.Entity.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a href="/Book/Create">Create New Book</a>
    <h1>Book</h1>
      <table class="table">
          <thead>
              <tr>
                  <td>Id</td>
                  <td>Name</td>
                  <td>Author</td>
                  <td>Delete</td>
                  <td>Update</td>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model)
            {
              <tr>
                  <td>@item.Id</td>
                  <td>@item.Name</td>
                  <td>@item.Author</td>
                    <td><a href="/Book/Delete/@item.Id">Delete </a> </td>
                    <td><a href="/Book/Update/@item.Id">Update</a></td>
              </tr>
            }      
              
          </tbody>
      </table>
</div>

