@model List<nTier_RepositoryPattern.Entity.Author>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <a asp-controller="Author" asp-action="Create">Create New Author</a>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Güncelle</td>
            <td>Sil</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td><a href ="/Author/Update/@item.Id">Güncelle </a></td>
                <td><a href="/Author/Delete/@item.Id">Sil </a></td>
            </tr>
            
        }
    
    </tbody>
</table>
